<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Resume/CV 1</title>
  <!-- <link rel="stylesheet" href="./style.css"> -->

</head>
<body>
<!-- partial:index.partial.html -->
<script src="./fontawesome.js"></script>

<div class="resume">
   <div class="resume_left">
     <div class="resume_profile">
       <img src="https://i.imgur.com/eCijVBe.png" alt="profile_pic">
     </div>
     <div class="resume_content">
       <div class="resume_item resume_info">
         <ul>
            <li>
                <div class="icon">
                  <i class="fas fa-envelope"></i>
                </div>
                <div class="data">
                  ayobamilawal@gmail.com
                </div>
            </li>
            <li>
                <div class="icon">
                  <i class="fas fa-phone"></i>
                </div>
                <div class="data">
                  +234 809 2354 153
                </div>
            </li>
            <li>
              <div class="icon">
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <div class="data">
                No 78, Norman Williams
                Ikoyi, Lagos, Nigeria.
              </div>
            </li>
         </ul>
       </div>

       <div class="resume_item resume_info resume_bio">
          <ul>
             <li>
                 <p class="semi-bold">Date Of Birth</p>
                 <p>January 20th 1992</p>
             </li>
             <li>
                <p class="semi-bold">Nationality</p>
                <p>American - Nigerian</p>
            </li>
             
          </ul>
      </div>

      <div class="resume_item resume_info resume_bio">
          <p class="semi-title">EDUCATION</p>
          <ul>
             <li>
                <p>Caristas University</p>
                <p>Bsc Economics</p>
                 <p class="semi-bold">2009 - 2013</p>
             </li>
             <li>
                <p>Metropolitan Film</p>
                <p>School</p>
                 <p class="semi-bold">2013 - 2014</p>
             </li>
             
          </ul>
      </div>

     </div>
  </div>
  <div class="resume_right">
    <div class="resume_item resume_about resume_name">
        <div class="title">
           <h2 class="bold">Ayobami Lawal</h2>
           <p class="semi-bold">Job Title / Managing Director</p>
         </div>
    </div>
    <div class="resume_item resume_info resume_skillz">
        <p class="semi-title semi-bold">SKILL</p>
        <ul>
           <li>
              Social Savy
           </li>
           <li>
              Leadership
           </li>
           <li>
              Communication
           </li>
           <li>
              Negotiation
           </li>
           <li>
              Driving
           </li>
           <li>
              Customer Relations
           </li>
        </ul>
    </div>

    <div class="resume_item resume_education resume_project">
      <div class="title">
           <p class="bold">CERTIFICATION</p>
         </div>
          <ul>
            <li>
                <div class="date semi-bold">Java</div> 
                <div class="info">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                      sed diam nonummy nibh euismod tincidunt.
                    </p>
                </div>
            </li>
            <li>
                <div class="date semi-bold">PHP</div> 
                <div class="info">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                      sed diam nonummy nibh euismod tincidunt.
                    </p>
                </div>
            </li>
            <li>
                <div class="date semi-bold">Python</div> 
                <div class="info">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                      sed diam nonummy nibh euismod tincidunt.
                    </p>
                </div>
            </li>
          
        </ul>
    </div>
    <div class="resume_item resume_skills">
        <div class="title">
          <p class="bold">LANGUAGE</p>
        </div>
        <ul>
          <li>
            <div class="skill_name">
              English
            </div>
            <div class="skill_progress">
              <span style="width: 80%;"></span>
            </div>
            <div class="skill_per">80%</div>
          </li>
          <li>
            <div class="skill_name">
              French
            </div>
            <div class="skill_progress">
              <span style="width: 70%;"></span>
            </div>
            <div class="skill_per">70%</div>
          </li>
          <li>
            <div class="skill_name">
              Yoruba
            </div>
            <div class="skill_progress">
              <span style="width: 90%;"></span>
            </div>
            <div class="skill_per">90%</div>
          </li>
          <li>
            <div class="skill_name">
              Hausa
            </div>
            <div class="skill_progress">
              <span style="width: 60%;"></span>
            </div>
            <div class="skill_per">60%</div>
          </li>
          <li>
            <div class="skill_name">
              Pidgin
            </div>
            <div class="skill_progress">
              <span style="width: 88%;"></span>
            </div>
            <div class="skill_per">88%</div>
          </li>
        </ul>
      </div>
      <img class="resume_app_logo" src="./about-cert.png">     
  </div>
</div>
<!-- partial -->
  
</body>
</html>
